<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="BoardDAO">
	<!-- 쿼리 작성 영역 -->
	<insert id="insertBoard" parameterType="board">
		INSERT INTO T_BOARD
		VALUES (
					(SELECT IFNULL(MAX(A.BOARD_NO), 0) + 1 FROM T_BOARD A),
					#{boardTitle},
					#{boardContent},
					#{boardWriter},
					now(),
					0
			   )
	</insert>
	
	<select id="getBoard" parameterType="int" resultType="board">
	SELECT *
		FROM T_BOARD
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<select id="getBoardList" parameterType="map" resultType="board">
	<![CDATA[
		SELECT *
			FROM T_BOARD
	]]>
			<if test="boardSearch.searchKeyword != null and boardSearch.searchKeyword != ''">
				<if test="boardSearch.searchCondition == 'all'">
				WHERE 1 = 0
				   OR BOARD_TITLE LIKE CONCAT('%', #{boardSearch.searchKeyword}, '%')
				   OR BOARD_CONTENT LIKE CONCAT('%', #{boardSearch.searchKeyword}, '%')
				   OR BOARD_WRITER LIKE CONCAT('%', #{boardSearch.searchKeyword}, '%')
				</if>
				<if test="boardSearch.searchCondition != 'all'">
				WHERE 1 = 1
					<if test="boardSearch.searchCondition == 'title'">
						AND BOARD_TITLE LIKE CONCAT('%', #{boardSearch.searchKeyword}, '%')
					</if>
					<if test="boardSearch.searchCondition == 'content'">
						AND BOARD_CONTENT LIKE CONCAT('%', #{boardSearch.searchKeyword}, '%')
					</if>
					<if test="boardSearch.searchCondition == 'writer'">
						AND BOARD_WRITER LIKE CONCAT('%', #{boardSearch.searchKeyword}, '%')
					</if>
				</if>
			</if>
			LIMIT #{cri.amount} OFFSET #{cri.startNum}
	</select>
	
	<update id="updateBoardCnt" parameterType="int">
		UPDATE T_BOARD
			SET BOARD_CNT = BOARD_CNT + 1
			WHERE BOARD_NO = #{boardNo}
	</update>
	
	<update id="updateBoard" parameterType="board">
		UPDATE T_BOARD
			SET BOARD_TITLE = #{boardTitle}
			  , BOARD_CONTENT = #{boardContent}
			WHERE BOARD_NO = #{boardNo}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM T_BOARD
			WHERE BOARD_NO = #{boardNo}
	</delete>
	
	<select id="getBoardTotalCnt" parameterType="map" resultType="int">
		SELECT COUNT(*)
			FROM T_BOARD
			<if test="searchKeyword != null and searchKeyword != ''">
				<if test="searchCondition == 'all'">
				WHERE 1 = 0
				   OR BOARD_TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
				   OR BOARD_CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
				   OR BOARD_WRITER LIKE CONCAT('%', #{searchKeyword}, '%')
				</if>
				<if test="searchCondition != 'all'">
				WHERE 1 = 1
					<if test="searchCondition == 'title'">
						AND BOARD_TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
					</if>
					<if test="searchCondition == 'content'">
						AND BOARD_CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
					</if>
					<if test="searchCondition == 'writer'">
						AND BOARD_WRITER LIKE CONCAT('%', #{searchKeyword}, '%')
					</if>
				</if>
			</if>
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>