<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	  
	<!-- head 영역 시작 -->
	<!-- 개별적으로 사용할 css, js 링크 걸기 위해 남겨둠 -->
	<head>
	
	</head>
	<!-- head 영역 끝 -->
	
	<body>
		<div layout:fragment="content">
			<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
				<h3>새 글 등록</h3>
				<form id="insertForm" action="/board/board" method="post" enctype="multipart/form-data">
					<table border="1" style="border-collapse: collapse">
						<tr>
							<td style="background: skyblue; width: 70px;">
								제목
							</td>
							<td style="text-align: left;">
								<input type="text" name="boardTitle">
							</td>
						</tr>
						<tr>
							<td style="background: skyblue;">
								작성자
							</td>
							<td style="text-align: left;">
								<input type="text" name="boardWriter" 
									   th:value="${session.loginUser.userId}" readonly>
							</td>
						</tr>
						<tr>
							<td style="background: skyblue; width: 70px;">
								내용
							</td>
							<td style="text-align: left;">
								<textarea name="boardContent" cols="40" rows="10"></textarea>
							</td>
						</tr>
						<tr>
							<td style="background: skyblue; width: 70px;">
								파일첨부
							</td>
							<td>
								<div id="image_preview">
									<input type="file" id="btnAtt" name="uploadFiles" multiple="multiple">
									<div id="attZone"
										 data-placeholder="파일을 첨부하려면 파일선택 버튼을 누르세요."></div>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2" align="center">
								<button type="submit">새 글 등록</button>
							</td>
						</tr>
					</table>
				</form>
				<hr/>
				<a href="#">글 목록</a>
			</div>
		</div>
	</body>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</html>